.menu{
   list-style: none;
   display:flex; justify-content: center;
   margin-top:23px;
   margin-bottom:26px;
}
.link{
   color: #FF0000;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
}
.link1{
   margin-right:72px;
}
.link2 {
   margin-right:50px;
}
.main-photo {
   width: 100%;
}
.main{
   display: flex; justify-content: center;


}
.title{
   margin-top:50px;
   display: flex;
   justify-content: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   text-transform: uppercase;
   color:#373737;

}
.text1-block{
   display: flex;
 justify-content: center;



}
.text2-block{
   display: flex;
   justify-content: center;

}
.text1{

   margin-top:38px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 2.4px;
   text-align: center;
   color:#373737;
   font-size: 16px;

}
.text2{
   font-family: 'Montserrat', sans-serif;
   margin-top:28px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 2.4px;
   text-align: center;
   color:#373737;

   font-size: 16px;

}
.button{
   background-color:#FF0000;
   width: 191px;
   height: 51px;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   border:none;
}
.button-block{
   display: flex; justify-content: center;
   margin-top:66px;



}
.copyright{
   text-align: right;
   font-family: 'Montserrat', sans-serif;
   margin:82px 105px 29px 713px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color:#373737;
}
.button-p{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 12px;
   line-height: 12px;
   letter-spacing: 1.8px;
   color: #FFFFFF;
   text-transform: uppercase;
}